<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h5 class="card-title">{{ object.name }}</h5>
            <p class="card-text">{{ object.description|default:"Описание отсутствует" }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'sights:category' object.pk %}"
                       class="btn btn-sm btn-outline-secondary"
                       role="button">
                       Смотреть
                    </a>
                </div>
                <small class="text-muted">{{ object.sights.count }} мест</small>
            </div>
        </div>
    </div>
</div>

