{% extends 'sights/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>{{ category.description }}</p>

<div class="row">
    {% for sight in sights %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if sight.image %}
                    <img src="{{ sight.image.url }}" class="card-img-top" alt="{{ sight.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ sight.name }}</h5>
                    <a href="{% url 'sights:sight_detail' sight.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>В этой категории пока нет достопримечательностей</p>
    {% endfor %}
</div>
{% endblock %}