{% extends 'sights/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    {% for object in object_list %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 box-shadow mt-3">
            <div class="card-body">
                <p class="card-text lead">{{ object.name|title }}</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="{% url 'sights:category' object.pk %}">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% include 'sights/includes/inc_pagination.html' %}
{% endblock %}